export S3_ENDPOINT_URL=http://localhost:9000
export S3_REGION=us-east-1
export S3_ACCESS_KEY_ID=root
export S3_SECRET_ACCESS_KEY=password
export DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
export SESSION_KEY="xx#Hy!73N93Bk*Y5Ty*eHvowyy9S5k2sf^X#c3Zb9v8!vHPrBCy3r@*JQ4J!ru2Y"